<div class="body">
  <app-sidebar/>
  <div class="container mt-5">
    <div class="row">
      <div class="col-auto"> 
        <app-location-search />
      </div>
      <div class="col-auto"> 
        @if(this.router.url === '/' || this.router.url === '/temperature'){
          <app-change-temperature-unit />
        }
      </div>
    </div>
    <div id="content" class="col-auto">
      <div class="container mt-5 d-flex justify-content-center">
        <router-outlet />
      </div>
    </div>
  </div>
</div>