.body {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.row {
    display: grid;
    grid-template-columns: auto 150px;
    gap: 10px;
    width: 100%;
}

app-sidebar {
    position: sticky;
    top: 0;
    flex-shrink: 0;
    background-color: #262a2e;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container::-webkit-scrollbar {
    width: 10px;
}


@media (max-width: 480px) {
    .body {
        flex-direction: column;
        height: auto;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .col-auto {
        justify-content: start;
    }

    app-sidebar {
        flex: 0 0 425px;
    }

    .container {
        z-index: -1;
    }

}
