.body {
    display: flex;
}

.row {
    display: grid;
    grid-template-columns: auto 150px;
    gap: 10px;
    width: 100%;
    
}

@media (max-width: 680px) {

    .row {
        display: flex;
    }

    .col-auto {
        justify-content: start;
    }
    

}


@media (max-width: 480px) {
    .body {
        flex-direction: column;
    }

    app-sidebar {
        flex: 0 0 425px;
    }

}