.sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #262a2e;
    color: white;
    height: 100vh;
    position: relative;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

a {
    text-decoration: none;
}

.sidebar li a {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid grey;
    border-radius: 50px;
    text-align: center;
}

.sidebar .nav-item a img {
    width: 40px;
    height: 40px;
    margin: 0 25px;
}

.sidebar .nav-item a {
    margin: 10px;
    color: aliceblue;
}

.sidebar .nav-item a:hover{
    color: rgb(193, 222, 247);
}

@media (max-width: 850px) {
    .sidebar {
        min-width: 150px;
        max-width: 150px;
    }

    .sidebar .nav-item a img {
        width: 21px;
        height: 21px;
        margin: 0 10px;
    }

    .sidebar .nav-item a {
        margin: 8px;
    }

    .sidebar h2 {
        font-size: 1.5rem;
    }

    .sidebar li a {
        font-size: 0.7rem;
    }

    small {
        font-size: 0.73rem;
    }

}

@media (max-width: 480px) {
    .sidebar {
        min-width: 100%;
        max-width: 100%;
        height: auto;
        position: fixed;
    }

    .sidebar-footer {
        position: static;
        padding: 15px;
    }

    .sidebar .nav-item a {
        padding: 8px;
        margin: 5px 0;
    }

    .sidebar h2 {
        font-size: 1.2rem;
    }
}