<div class="sidebar">
    <h2 class="text-center py-4">Dashboard Climático</h2>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Temperatura</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Chuva</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Vento</a>
        </li>
    </ul>
    <div class="sidebar-footer text-center">
        <hr>
        <small>
            Desenvolvido por 
            <br> 
            <a href="https://www.linkedin.com/in/josé-augusto-faria-de-sousa-1b1a1125b">José Augusto Faria de Sousa</a> 
        </small>
    </div>
</div>
