
<div id="titulo" class="container d-flex justify-content-center">
  <h1>Clima atual</h1>
</div>

  @if(location?.name !== null){
    @defer (when weatherData) {
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperatura Máxima Aparente</h5>
            <p class="card-text">{{ weatherData?.max_apparent_temperature }}° {{ unit }}</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperatura Máxima</h5>
            <p class="card-text">{{ weatherData?.max_temperature }}° {{ unit }}</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperatura Mínima Aparente</h5>
            <p class="card-text">{{ weatherData?.min_apparent_temperature }}° {{ unit }}</p>
          </div>
        </div>
      </div>
  

      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Temperatura Mínima</h5>
            <p class="card-text">{{ weatherData?.min_temperature }}° {{ unit }}</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Probabilidade de Precipitação</h5>
            <p class="card-text">{{ weatherData?.precipitationProbability }} %</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quantidade de Chuva</h5>
            <p class="card-text">{{ weatherData?.rain }} mm</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quantidade de Neve</h5>
            <p class="card-text">{{ weatherData?.snowfall }} mm</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Direção do Vento</h5>
            <p class="card-text">{{ weatherData?.windDirection }} °</p>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Velocidade do Vento</h5>
            <p class="card-text">{{ weatherData?.windSpeed }} km/s</p>
          </div>
        </div>
      </div>
    </div>
  }@placeholder() {
    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
      </div>
    </div>  
}
  
  }@else {
    <div class="container d-flex justify-content-center">
      <h3>Nenhum local selecionado</h3>
    </div>
  }

  