<div id="titulo" class="container d-flex justify-content-center pb-5">
  <h1>Clima atual</h1>
</div>

@if(location?.name !== null){
@defer (when weatherData) {
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pt-5">
  <div class="col">
    <div class="card">
      <div class="card-body row">
        <div class="col">
          <h5 class="card-title">Temperatura</h5>
          <p class="card-text">Máxima: {{ weatherData?.max_temperature }}° {{ unit }}</p>
          <p class="card-text">Mínima: {{ weatherData?.min_temperature }}° {{ unit }}</p>
          <h5 class="card-title">Sensação térmica</h5>
          <p class="card-text">Máxima: {{ weatherData?.max_apparent_temperature }}° {{ unit }}</p>
          <p class="card-text">Mínima: {{ weatherData?.min_apparent_temperature }}° {{ unit }}</p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img src="../../../assets/svg/temperature.svg" alt="temperature">
        </div>
      </div>
    </div>
  </div>



  <div class="col">
    <div class="card">
      <div class="card-body row">
        <div class="col">
          <h5 class="card-title">Precipitação</h5>
          <p class="card-text">Probabilidade: {{ weatherData?.precipitationProbability }}%</p>
          <p class="card-text">Quantidade de Chuva: {{ weatherData?.rain }} mm</p>
          <p class="card-text">Quantidade de Neve: {{ weatherData?.snowfall }} mm</p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img src="../../../assets/svg/rain.svg" alt="rain">
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body row">
        <div class="col">
          <h5 class="card-title">Vento</h5>
          <p class="card-text">Velocidade: {{ weatherData?.windSpeed }} km/s</p>
          <p class="card-text">Direção: {{ getDirection(weatherData?.windDirection) }} ({{ weatherData?.windDirection }}°)</p>
        </div>
        <div class="col-auto d-flex align-items-center">
          <img src="../../../assets/svg/wind.svg" alt="wind">
        </div>
      </div>
    </div>
  </div>


</div>
}@placeholder() {
<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
  </div>
</div>
}

}@else {
<div class="container d-flex justify-content-center">
  <h3>Nenhum local selecionado</h3>
</div>
}
