body.bg-dark {
    background-color: #343a40 !important;
    color: #ffffff !important;
  }
  
  body.bg-light {
    background-color: #d2d4d6 !important;
    color: #000000 !important;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

#content span {
    padding-bottom: 20px;
}

@media (max-width: 690px) {

  #content h1 {
      font-size: 1.7em;
  }

  #content h2 {
      font-size: 1.3em;
  }

  #content span {
      font-size: 0.8em;
  }

}