body.bg-dark {
    background-color: #343a40 !important;
    color: #ffffff !important;
  }
  
  body.bg-light {
    background-color: #d2d4d6 !important;
    color: #000000 !important;
}

#titulo {
  height: 10vh;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}