<div class="container d-flex justify-content-center pb-5">
    <h1>Histórico do último ano</h1>
</div>
@if(location?.name !== null){
@defer (when temperatureData && barChartTemperatureData && barChartApparentTemperatureData) {
<div class="container">
    <h2>Temperatura:</h2>
    <canvas baseChart [data]="barChartTemperatureData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [type]="'bar'">
    </canvas>
    <div class="d-flex justify-content-center">
        <span>
            O dia com a maior temperatura foi {{ maxTemperatureDate?.toLocaleDateString() }} com {{ maxTemperature }}° {{ unit }}
            e o dia com a menor temperatura foi {{ minTemperatureDate?.toLocaleDateString() }} com {{ minTemperature }}° {{ unit }}.
        </span>
    </div>
</div>
<div class="container">
    <h2>Sensação térmica:</h2>
    <canvas baseChart [data]="barChartApparentTemperatureData" [options]="barChartOptions" [plugins]="barChartPlugins"
        [legend]="barChartLegend" [type]="'bar'">
    </canvas>
    <div class="d-flex justify-content-center">
        <span>
            O dia com a maior sensação térmica foi {{ maxApparentTemperatureDate?.toLocaleDateString() }} com {{ maxApparentTemperature }}° {{ unit }}
            e o dia com a menor sensação térmica foi {{ minApparentTemperatureDate?.toLocaleDateString() }} com {{ minApparentTemperature }}° {{ unit }}.
        </span>
    </div>
</div>

}@placeholder() {
<div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
    </div>
</div>
}

}@else {
<div class="container d-flex justify-content-center">
    <h3>Nenhum local selecionado</h3>
</div>
}